@import url(./partials/icon-style.css);
/* PLACEHOLDER STYLE */

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(1, 1, 60, 0.802);
    font-size: 1.2rem;
    font-weight: 550;
}